.loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #474bff 94%, #0000) top / 5px 5px
      no-repeat,
    conic-gradient(#0000 30%, #474bff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 5px), #000 0);
  animation: loading-spinner 1s infinite linear;
}

.whole_page_loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(238, 238, 238, 0.178);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

@keyframes loading-spinner {
  100% {
    transform: rotate(1turn);
  }
}
