.todo_item {
  position: relative;
  width: 100%;
  min-height: 63px;
  border-radius: 15px;
  box-shadow: 0 4px 32px 0 var(--shadow);
  padding: 16px 17px 16px 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 19px;
}

.todo_title {
  font-size: 9px;
  font-weight: 400;
  line-height: 11.25px;
  margin-bottom: 2px;
  color: var(--light-grey);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo_text_block {
  max-width: 75%;
}

.todo_desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  color: var(--dark-guanmetal);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo_actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.todo_edit {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.todo_trash {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.todo_statuses {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 27px;
}

.todo_status_indicator {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 0 0 2px 0 var(--shadow-dark);
}

.todo_status_indicator.done {
  background-color: var(--green);
}

.todo_status_indicator.wontdo {
  background-color: var(--red);
}

.todo_status_indicator.pending {
  background-color: var(--yellow);
}
