.loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(
        farthest-side,
        var(--lilac-blue) 94%,
        var(--old-black)
      )
      top / 5px 5px no-repeat,
    conic-gradient(var(--old-black) 30%, var(--lilac-blue));
  -webkit-mask: radial-gradient(
    farthest-side,
    var(--old-black) calc(100% - 5px),
    black 0
  );
  animation: loading-spinner 1s infinite linear;
}

@keyframes loading-spinner {
  100% {
    transform: rotate(1turn);
  }
}
