:root {
  --lilac: #5f33e1;
  --lilac-blue: #474bff;
  --approx: #fcfaff;
  --dark-liver: #505050;
  --light-grey: #6e6a7c;
  --old-silver: #828282;
  --old-black: #0000;
  --shadow: #0000000a;
  --shadow-dark: #00000040;
  --dark-guanmetal: #24252c;
  --yellow: #fcbf49;
  --green: #588157;
  --red: #d62828;
}
